# SPDX-License-Identifier: Apache-2.0
config BOARD_VUOZ_ZONGLE
    bool "Zongle (nRF52833)"
    depends on SOC_NRF52833_QIAA
    select SOC_NRF52833_QIAA
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE

